<!-- _includes/logos.html -->

<div style="margin-top: 2rem; text-align: center;">
  <div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 2rem; margin: 1rem 0;">
    <img src="{{ site.baseurl }}/assets/img/logos/sjtuLogo.webp" alt="学生创新中心" height="60" loading="lazy">
    <img src="{{ site.baseurl }}/assets/img/logos/sicLogo.webp" alt="学生创新中心" height="60" loading="lazy">
    <img src="{{ site.baseurl }}/assets/img/logos/aiiILogo.webp" alt="人工智能研究院" height="60" loading="lazy">
  </div>
  <div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 2rem;">
    <img src="{{ site.baseurl }}/assets/img/logos/huaweiLogo.webp" alt="华为" height="60" loading="lazy">
    <img src="{{ site.baseurl }}/assets/img/logos/lenovoLogo.webp" alt="联想" height="60" loading="lazy">
    <img src="{{ site.baseurl }}/assets/img/logos/lilithLogo.webp" alt="莉莉丝" height="60" loading="lazy">
  </div>

  <div style="margin-top: 1.5rem;">
    <p><strong> 欢迎更多企业加入 AIGC Class 教育合作计划，共建产学研平台。</strong></p>
  </div>
</div>
