---
layout: default
---

<h3 class="fw-bold border-bottom pb-3 mb-5">获奖</h3>

<!-- 2024/06/20 CVPR -->
<div class="award">
    <div class="award-image">
      <img src="assets/img/awards/20240620_CVPR_Challange.jpg" alt="20240620 CVPR Challange 3rd Place">
    </div>
    <div class="award-details">
      <p><strong>EGO-Exo4D挑战赛-身体姿态, IEEE / CVF CVPR</strong></p>
      <p><strong>第三名</strong></p>
      <p><strong>2024年6月17日</strong></p>

      <div class="winners-container">
        <div class="winner-details">
          <img src="assets/img/classof2023/xucongsheng.png" alt="Congsheng XU" class="winner-avatar">
          <span>徐聪晟</span>
        </div>
        <div class="winner-details">
          <!--<img src="path/to/winner2-image.jpg" alt="Jinfan LIU" class="winner-avatar">-->
          <span>刘晋帆</span>
        </div>
        <div class="winner-details">
          <!-- <img src="path/to/winner2-image.jpg" alt="Yifan LIU" class="winner-avatar"> -->
          <span>刘轶帆</span>
        </div>
        <div class="winner-details">
          <!-- <img src="path/to/winner2-image.jpg" alt="Shuwen WU" class="winner-avatar"> -->
          <span>吴舒文</span>
        </div>
        <div class="winner-details">
          <img src="assets/img/faculty/yanyichao.png" alt="Yichao YAN" class="winner-avatar">
          <span>晏轶超</span>
        </div>
        <div class="winner-details">
          <img src="assets/img/faculty/zhaoweiming.png" alt="Weiming ZHAO" class="winner-avatar">
          <span>赵伟明</span>
        </div>
      </div>
    </div>
</div>



<style>
.award {
  display: flex;
  flex-wrap: wrap; /* allow newline in small screen */
  margin-bottom: 20px;
}

.award-image {
  flex: 0 1 200px;
  margin-right: 20px;
}

.award-image img {
  max-width: 100%;
  height: auto;
}

.award-details {
  flex: 1;
}

.winners-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* gap between winners */
}

.winner-details {
  display: flex;
  align-items: center;
}

.winner-avatar {
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.winner-details span {
  line-height: 50px; /* align with imgs */
}

/* media check for mobiles if width less than 768px*/
@media (max-width: 768px) {
  .award {
    flex-direction: column; /* convert to column */
  }
  .award-image {
    margin-bottom: 20px; /* bottom margin */
    margin-right: 0; /* delete right margin */
  }
  .winners-container {
    justify-content: center; /* center */
  }
}
</style>