---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">Join us</h3>

<div class="notification-box">
    <p>The recruitment for the SJTU AIGC Class of 2023 closed on November 20, 2023.</p>
    <p>Our recruitment for 2024 will start in September 2024.</p>
</div>

<h4 class="fw-bold pb-1 mb-2">Background</h4>
<p>From Sobel and Canny's digital image processing algorithms to detect edges in images, to deep learning algorithms like R-CNN and YOLO for object detection in images, from GANs to Diffusion Models, and from 2D to 3D, deep learning models demonstrate the potential for infinite content generation.</p>
<p>From ChatGPT to ERNIE Bot, from MidJourney to DALL·E, AI-generated content applications have rapidly expanded. AI-generated content (AIGC) is becoming integral to our lives, poised to be a key driver in media, culture, and creative industries.</p>
<p>In the fall of 2023, the Student Innovation Center of Shanghai Jiao Tong University (SJTU), in collaboration with the Institute of Artificial Intelligence of SJTU, Huawei Technologies Co., Ltd., Lenovo Group, and Lilith Games, established the "Shanghai Jiao Tong University AIGC Class" to cultivate the next generation of AIGC talents, addressing the urgent need for highly specialized professionals in the AIGC field.</p>

<h4 class="fw-bold pb-1 mb-2">Faculty</h4>
<p>The Shanghai Jiao Tong University AIGC Class boasts a diverse and outstanding faculty, supporting comprehensive student development in the AIGC domain. The faculty includes distinguished teachers from the SJTU Student Innovation Center and the Institute of Artificial Intelligence, as well as top engineers from the industry.</p>
<p>The Student Innovation Center's Innovation Practice Department has 15 full-time teachers, 15 internal mentors, and 30 external experts, providing a comprehensive "course-competition-creation" education service to SJTU students.</p>
<p>The Institute of Artificial Intelligence has over a hundred faculty members. The Visual Intelligence Research Center focuses on integrating human-machine interactions, aiming at the scientific forefront of artificial intelligence and computer vision, developing new-generation visual intelligence theories and technologies characterized by comprehensive perception, behavioral cognition, virtual-real integration, and security. It aims to enhance visual perception and cognitive abilities in digital media, smart cities, smart healthcare, and other fields, realizing the vision of AI-powered new perspectives.</p>

<h4 class="fw-bold pb-1 mb-2">Advanced Equipment</h4>
<div class="flex-container">
    <div class="flex-text">
        <p><strong>Optical Motion Capture System:</strong></p>
        <p>The motion capture equipment is equipped with the advanced Optitrack optical motion capture system, including 20 high-precision Optitrack PrimeX22 cameras, multiple motion capture suits, and supporting software. Motion capture actors can wear motion capture suits and move freely within the venue, capturing complete motion sequences for animation, games, and more. Additionally, several tripods and RGB cameras are set up in the venue for visual motion capture research.</p>
    </div>
    <div class="flex-image">
        <img src="assets/img/joinus/motioncapture.jpg" alt="Optical Motion Capture System" style="max-width: 100%; height: auto; width: 300px;">
    </div>
</div>

<div class="flex-container">
    <div class="flex-text">
        <p><strong>4D Facial Expression Motion Capture System:</strong></p>
        <p>The static facial PBR material scanner includes 46 3D modeling cameras and 5 PBR high-speed cameras, capturing 46 modeling images and 15x5 PBR photos under different lighting conditions in 3 seconds, used to reconstruct high-precision models and 8K resolution PBR texture maps.</p>
    </div>
    <div class="flex-image">
        <img src="assets/img/joinus/facecapture.jpg" alt="4D Facial Expression Motion Capture System" style="max-width: 100%; height: auto; width: 300px;">
    </div>
</div>


<div class="flex-container">
    <div class="flex-text">
        <p><strong>Fluid Visual Intuitive Learning Platform:</strong></p>
        <p>The fluid visual intuitive learning platform focuses on researching AI fluid simulation technology across multi-scene, multi-physics, and multi-scale coupling. Through high-frame-rate, high-resolution camera arrays, it achieves multi-view, high-quality, and highly synchronized dynamic fluid data collection.</p>
    </div>
    <div class="flex-image">
        <img src="assets/img/joinus/fluiddynamic.jpg" alt="Fluid Visual Intuitive Learning Platform" style="max-width: 100%; height: auto; width: 300px;">
    </div>
</div>


<div class="flex-container">
    <div class="flex-text">
        <p><strong>We also have:</strong></p>
        <ul>
            <li>GPU arrays: Huawei Atlas 800, NVIDIA A100, NVIDIA RTX3090</li>
            <li>Dedicated work areas and workstations</li>
            <li>Various AR/VR headsets</li>
        </ul>
    </div>
    <div class="flex-image">
        <img src="assets/img/joinus/server.jpg" alt="Fluid Visual Intuitive Learning Platform" style="max-width: 100%; height: auto; width: 300px;">
    </div>
</div>


<h4 class="fw-bold pb-1 mb-2">Training Program</h4>
<p>Each group consists of 4 people, with a personalized training program for different projects, totaling 1.5 years.</p>
    <p><strong>Engineering Skill Development (0.5 years)</strong></p>
    <ul>
        <li>PBL project-based learning courses:
            <ul>
                <li>Computer vision and graphics</li>
                <li>Introduction to machine learning and deep learning</li>
                <li>Use of mainstream 3D engines</li>
            </ul>
        </li>
        <li>Workshops:
            <ul>
                <li>Equipment usage</li>
                <li>Data processing and analysis</li>
            </ul>
        </li>
    </ul>

    <p><strong>Research Skill Development (1 year)</strong></p>
    <ul>
        <li>Engineering Innovation:
            <ul>
                <li>Contributing to open-source projects: paving the way for future AIGC</li>
                <li>Participating in top competitions: "Challenge Cup" and "Internet+" competitions</li>
            </ul>
        </li>
        <li>Academic Innovation:
            <ul>
                <li>In-depth reading of papers</li>
                <li>Proposing insights</li>
                <li>Brainstorming</li>
                <li>Producing papers: publishing articles in academic conferences or journals</li>
            </ul>
        </li>
        <li>Mentorship:
            <ul>
                <li>Each group will be assigned a research or project mentor for guidance</li>
            </ul>
        </li>
    </ul>


<h4 class="fw-bold pb-1 mb-2">Completion</h4>
<ul>
    <li>Every year, outstanding students will be selected and awarded generous scholarships.</li>
    <li>Successful completion will earn a certificate jointly issued by the Student Innovation Center and the Institute of Artificial Intelligence.</li>
    <li>Outstanding students will complete their graduation projects at the Institute of Artificial Intelligence and have the opportunity to pursue further studies at the Institute of Artificial Intelligence or intern at our our sponsors.</li>
</ul>


<h4 class="fw-bold pb-1 mb-2">Recruitment Requirements</h4>
<ul>
    <li>Sophormore (second-year) undergraduate students of Shanghai Jiao Tong University</li>
    <li>About 20 students recruited each year</li>
    <li>Must be in the top 20% of the class in the first year</li>
    <li>AIGC Class does not charge tuition, and there are no acedemic credit</li>
</ul>

<h4 class="fw-bold pb-1 mb-2">Application Method</h4>
<p><b>The recruitment for the SJTU AIGC Class of 2023 closed on November 20, 2023.</b></p>
<p><b>Our recruitment for 2024 will start in September 2024.</b></p>

    
<h4 class="fw-bold pb-1 mb-2">Contact Us</h4>
<p>Email: aigc[AT]sjtu.edu.cn</p>
<p>Address: Room B300, Building B, Student Innovation Center, Shanghai Jiao Tong University</p>


<style>
    .notification-box {
        background-color: #f0ad4e;
        color: white;
        padding: 15px;
        text-align: center;
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .flex-container {
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;
    }

    .flex-text {
        flex: 1;
        padding-right: 20px;
    }

    .flex-image {
        flex: 0 1 300px;
        text-align: right;
    }

    .flex-image img {
        max-width: 100%;
        height: auto;
    }
</style>

